<!-- @format -->

{% extends "layout.html" %} 

{% load humanize %}


{% block title %}ประวัติการเช่าบอร์ดเกม{% endblock title%} 


{% block content %}

<section class="content2 cid-tsEQSCqggh my-2" id="content2-2">
  <div class="container my-5">
    <div class="mbr-section-head">
      <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
        <strong>ประวัติการเช่าบอร์ดเกม</strong>
      </h4>
    </div>
    <div class="row my-5">
      <table class="table text-center table-bordered my-5">
        <thead>
          <tr>
            <th scope="col">รหัสการเช่า</th>
            <th scope="col">วันที่เช่า</th>
            <th scope="col">ยอดชำระเงิน</th>
            <th scope="col">สถานะ</th>
            <th scope="col">ดูรายละเอียด</th>
          </tr>
        </thead>
        <tbody>
          {% for i in order %}
          <tr>
            <th scope="row">{{i.receipt_number}}</th>
            <td>{{i.created}}</td>
            <td>{{i.total | intcomma }}</td>
            {% if i.status == False %}
            <td><h6 class="text-secondary mx-2 text-center">ยังไม่ส่งมอบ</h6></td>
            {% else %}
            <td><h6 class="text-success mx-2 text-center">ส่งมอบแล้ว</h6></td>
            {% endif %}
            
            <td>
              <a href="{% url "orderDetail" i.id %}">รายละเอียด</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br />
</section>
{% endblock content %}
